DATABASE_URL=postgresql://postgres.zjyoxdfbqdexxkjtubyk:qq18857267@aws-0-us-west-2.pooler.supabase.com:5432/postgres?pgbouncer=true&connection_limit=1

JWT_SECRET=f366b0462571b1bb12cdb5ec69df3460cb9fb6c774c3f53641809bcd4f6110d45ced7f74d0ed6a9280c16003b50cb3a0adf05b02bb569dc968d96c9db5fd2b69

JWT_EXPIRES_IN=7d

REFRESH_TOKEN_EXPIRES_IN=30d

CLOUDINARY_CLOUD_NAME=ddwohvsft

CLOUDINARY_API_KEY=547129623785454

CLOUDINARY_API_SECRET=c6ZgbA-wO5rRS5J3UnEiu-C8lWs

GMAIL_USER=versyostore@gmail.com

GMAIL_APP_PASSWORD=atwiwpfztzconjoy

FRONTEND_URL=https://versyo.chiqo.site

FRONTEND_PEDIDOS_URL=https://versyo.chiqo.site/mis-pedidos

NODE_ENV=production

PORT=3000